.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.nav{
  width: 100vw;
  position: absolute;
  top:0;
  left: 0;
  display: flex;
  background-color: antiquewhite;
  justify-content: center;
  padding: 15px;
  gap: 10px;
}
.nav__input
{
  all: unset;
  background-color: white;
  padding: 5px;
  border: 1px solid wheat;
  border-radius: 10px;
}
.nav__btn{
  padding: 15px;
}